BASE_URL=http://localhost:3000/super-admin/login
SUPER_ADMIN_EMAIL=superadmin@bizlinks.in
SUPER_ADMIN_PASSWORD=SuperAdmin1
ORG_ADMIN_EMAIL=onkarj@gmail.com
ORG_ADMIN_PASSWORD=Onkar#123
CHAPTER_ADMIN_EMAIL=john.doe@gmail.com
CHAPTER_ADMIN_PASSWORD=John#123
MEMBER_EMAIL=mahesh.k@gmail.com
MEMBER_PASSWORD=Mahesh#123
BROWSER=chrome
